/* текст колір для h background: rgba(33, 33, 33, 1); */
/* текст для p  background: rgba(117, 117, 117, 1)*/

/* текст в hero color: rgba(255, 255, 255, 1);  background: rgba(47, 48, 58, 1); */

/* кнопка в hero color: rgba(255, 255, 255, 1) background: rgba(33, 150, 243, 1); */
/* акцент box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 */

:root{
    --primary-text-color:rgba(117, 117, 117, 1);
    --title-text-color:rgba(33, 33, 33, 1);
    --acent-color: rgba(255, 255, 255, 1);
}

body{
    color:var(--primary-text-color);
    background-color: #FFFFFF;
}
.list{
    list-style: none;
}

/* шапка */
 .logo {
    color: #2196F3;
 }
 /* cтілізація site-nav переробити*/

.site-nav-link{
    color:var(--title-text-color);
}
.site-nav-link:hover,
.site-nav-link:focus{
    color: rgba(33, 150, 243, 1);
}

.site-nav-link.current{
    color: rgba(33, 150, 243, 1);
}

.contact-nav-link{
    color:var(--primary-text-color);
 }
 /* main */
 /* hero */
 
 .hero{
 background-color:rgba(47, 48, 58, 1);
}
.hero-title{
 color:var(--acent-color);
}

.hero-button{
color:var(--acent-color);
background-color: rgba(33, 150, 243, 1);
}

.section-title {
    color:var(--title-text-color);
}

/* features */
.feature-list .feature-title{
    color:var(--title-text-color);
}
/* staff*/
.staff-list .staff-title{
    color:var(--title-text-color);   
}


/* footer */