/* текст колір для h background: rgba(33, 33, 33, 1); */
/* текст для p  background: rgba(117, 117, 117, 1)*/

/* текст в hero color: rgba(255, 255, 255, 1);  background: rgba(47, 48, 58, 1); */

/* кнопка в hero color: rgba(255, 255, 255, 1) background: rgba(33, 150, 243, 1); */
/* акцент box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 */

:root{
    --primary-text-color:rgba(117, 117, 117, 1);
    --title-text-color:rgba(33, 33, 33, 1);
    --acent-color: rgba(255, 255, 255, 1);
}

body{
    color:var(--primary-text-color);
    background-color: #FFFFFF;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}
.list{
    list-style: none;
}

/* шапка */
 .logo {
    color:var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1,19;
}
.accent{
    color: #2196F3;
}
 /* cтілізація site-nav */
.site-nav-link{
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus{
    color: rgba(33, 150, 243, 1);
}

.site-nav-link.current{
    color: rgba(33, 150, 243, 1);
}

.contact-nav-link{
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
 }

 .contact-nav-link:hover,
 .contact-nav-link:focus{
     color: rgba(33, 150, 243, 1);
 }

 .contact-nav-link.current{
    color: rgba(33, 150, 243, 1);
}
 /* main */
 /* hero */
 
 .hero{
 background-color:rgba(47, 48, 58, 1);
}
.hero-title{
    color:var(--acent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button{
    color:var(--acent-color);
    background-color: rgba(33, 150, 243, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    letter-spacing: 0.06em;
}

/* Заголовок для ассистивных технологий та filter,  в портфолио - наши работы, фильтры, проекты
.visually-hidden{
visibility: hidden;  
}
*/

.section-title {
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* features */
.feature-list .feature-title{
    color:var(--title-text-color); 
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
}
.feature-list .feature-text{
    color:var(--primary-text-color); 
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
}

/* staff*/
.staff-list .staff-title{
    color:var(--title-text-color); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1,19; 
    text-align: center; 
}

.staff-list .staff-prof{
    color:var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,19;
    text-align: center;
} 

/* portfolio */
/* filter */

.button{
    color:var(--title-text-color);
    font-family: inherit; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1,63;
}
.button.current{
    color:var(--acent-color);
    background: #2196F3;
}
/* projects */
.project-list .title{
    color:var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;  
}

.project-list .text{
    color:var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1,88;
}
/* footer */

.full-address{
background: #2F303A;
}

.logo-footer {
    color:var(--acent-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1,19;
}
.full-address {
    color:var(--acent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    }